.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container form{
    margin-top: 25px;
}

.search-area{
    display: flex;
    align-items: center;
    border: 0;
    border-radius: 4px;
    width: 500px;
    box-shadow: 1px 1px 1px 0.5px rgb(154, 154, 154);
    background-color: #eee;
    margin-bottom: 40px;
}

.search-area input{
    border: 0;
    border-radius: 4px;
    outline: 0;
    padding: 8px 15px;
    width: 500px;
    
    opacity: 0.9;
}

.search-area svg{
    margin: 0 1em;
}

.search-area button{
    display: flex;
    border: 0;
    outline: 0;
}

.content-area{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-gap: 15px;
    align-items: center;
    justify-content: center;
}

.content{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    border-radius: 4px;
    padding: 2px 3px;
    background-color: #ffffff;
    opacity: 0.9;
    transition: all 0.8s;
    box-shadow: 1px 1px 1px 0.5px rgb(154, 154, 154);
}

.content:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.content img{
    width: 100px;
    height: 100px;
    overflow: hidden;
    object-fit: cover;
}

.content table{
    display: flex;
    align-items: center;
    max-width: 10em;
}

/* .card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */

table td{
    border-radius: 4px;
    padding: 3px 10px;
    background-color: rgb(30, 30, 30);
    color:white;
    font-size: 14px;
}

@media screen and (max-width: 550px){
    .container form{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search-area{
        width: 450px;
    }

    .content-area{
        grid-gap: 10px;
    }

    table td{
        padding: 4px 7px;
    }
}

@media screen and (max-width: 1030px){
    .content-area{
        grid-template-columns: repeat(3,1fr);
    }
}

@media screen and (max-width: 770px){
    .content-area{
        grid-template-columns: repeat(2,1fr);
    }
}