/* DEFAULT SETTINGS */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body{
  background-color: #ddd;
  background: linear-gradient(to right, rgb(175, 211, 255), rgb(61, 144, 245));
  font-family: 'Chakra Petch';
}

button{
  cursor: pointer;
}

ul, ol{
  list-style: none;
}

a{
  text-decoration: none;
}